{layout name="layout" /}
<script language="javascript">
    $(function() {
      $('.flexslider').flexslider({
        animation: "slide"
      });
    });
</script>
<div class="banner" >
    <div class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li><a href=""><img src="__ASSETS__upload/1.jpg" alt=""/></a></li>
            <li><a href=""><img src="__ASSETS__upload/2.jpg" alt=""/></a></li>
            <li><a href=""><img src="__ASSETS__upload/1.jpg" alt=""/></a></li>
            
          </ul>
        </div>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_ma clearfix">
    <div class="i_mam i_mal">
        <div class="tu">
            <a href="">
                <img src="__ASSETS__images/icon6.jpg" alt=""/>
                <p>天运·新闻中心</p>
                <p>GENESIS NEWS</p>
                <div class="line">&nbsp;</div>
            </a>
            <i>&nbsp;</i>
        </div>
        <div class="wen">
            <div class="name">CeBIT 2015</div>
            <dl class="clearfix">
                <dt><a href=""><img src="__ASSETS__upload/pic1.jpg" alt=""/></a></dt>
                <dd>
                    <p><a href="">创新ICT共建全联接世界德国汉诺威展览中心</a></p>
                    <p>3月16日-20日</p>
                </dd>
            </dl>
            <ul class="i_news">
                <li><a href="">上海国际智能建筑展览会</a></li>
                <li><a href="">2014德国柏林国际消费类电子产品展览会</a></li>
                <li><a href="">2014中国（贵阳）公告安全防范产品博览会</a></li>
            </ul>
        </div>
    </div>
    <div class="i_mam i_mac">
        <div class="tu">
            <a href="">
                <img src="__ASSETS__images/icon7.jpg" alt=""/>
                <p>天运·新品推荐</p>
                <p>GENESIS NEW ARRIVALS</p>
                <div class="line">&nbsp;</div>
            </a>
            <i>&nbsp;</i>
        </div>
        <div class="wen">
            <div class="i_pro">
                <div class="mainPhoto"> <span class="goleft nextPage"><a href="javascript:void(0)"><img src="__ASSETS__images/prev.jpg" alt="" /></a></span>
                  <div class="go slidegrid">
                    <ul class="slideitems">
                      <li>
                        <a href="">
                            <img src="__ASSETS__upload/QTJ4-26A.jpg" alt=""/>
                            <div class="title">QTJ4-26A</div>
                            <p>小型机械专家</p>
                        </a>
                      </li>
                      <li>
                        <a href="">
                            <img src="__ASSETS__upload/QTJ4-26C.jpg" alt=""/>
                            <div class="title">QTJ4-26C</div>
                            <p>成本低，效率高</p>
                        </a>
                      </li>
                      <li>
                        <a href="">
                            <img src="__ASSETS__upload/QTJ4-26DN.jpg" alt=""/>
                            <div class="title">QTJ4-26DN</div>
                            <p>半自动，低投入</p>
                        </a>
                      </li>
                      
                    </ul>
                  </div>
                  <span class="goright prevPage"><a href="javascript:void(0)"><img src="__ASSETS__images/next.jpg" alt=""/></a></span> </div>
                <script>
                $(function(){
                $('.mainPhoto .slidegrid').scrollable({size:1,circular:true,next:'.nextPage',prev:'.prevPage'}).autoscroll();
                }); 
                </script> 
            </div>
        </div>
    </div>
    <div class="i_mam i_mar">
        <div class="tu">
            <a href="">
                <img src="__ASSETS__images/icon8.jpg" alt=""/>
                <p>天运·关于天运</p>
                <p>GENESIS INTRODUCTION</p>
                <div class="line">&nbsp;</div>
            </a>
            <i>&nbsp;</i>
        </div>
        <div class="wen">
            <div class="i_about">
                <img src="__ASSETS__upload/pic3.jpg" alt=""/>
                <div class="des">
                    <p>我们是砖机机械制造专家。天时地利，运达天下。</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="space_hx">&nbsp;</div>
<div class="i_mbt">
    <b>更多体验</b>
    <p>砖机机械制造，我们更专业</p>
    <div class="line">&nbsp;</div>
</div>
<div class="bg_b">&nbsp;</div>
<div class="i_mb clearfix">
    <dl class="clearfix">
        <a href="">
            <dt><img src="__ASSETS__images/icon12.png" alt=""/></dt>
            <dd>
                <b>多平台观看</b>
                <p>天运机械</p>
            </dd>
        </a>
    </dl>
    <dl class="clearfix">
        <a href="">
            <dt><img src="__ASSETS__images/icon13.png" alt=""/></dt>
            <dd>
                <b>体验中心</b>
                <p>天运机械</p>
            </dd>
        </a>
    </dl>
    <dl class="clearfix">
        <a href="">
            <dt><img src="__ASSETS__images/icon14.png" alt=""/></dt>
            <dd>
                <b>下载中心</b>
                <p>天运机械</p>
            </dd>
        </a>
    </dl>
    <dl class="clearfix">
        <a href="">
            <dt><img src="__ASSETS__images/icon15.png" alt=""/></dt>
            <dd>
                <b>服务热线</b>
                <p>123456789123</p>
            </dd>
        </a>
    </dl>
</div>
<div class="space_hx">&nbsp;</div>
<div class="bg_a">&nbsp;</div>