<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="砖机，砖机制造，机械，设备，托板，天运"/>
<meta name="description" content="沂南县天运机械制造厂是一家从事设计、生产、销售的私营生产制造制砖机机械的专业厂家。公司生产的“天运”牌各种机械系列产品远销欧美、澳大利亚和东南亚等近50多个国家和地区。"/>

<title>天运机械</title>
<link rel="stylesheet" type="text/css" href="__ASSETS__css/reset.css"/>
<script type="text/javascript" src="__ASSETS__js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__ASSETS__plugins/FlexSlider/jquery.flexslider.js"></script>
<link rel="stylesheet" type="text/css" href="__ASSETS__plugins/FlexSlider/flexslider.css">
<script type="text/javascript" src="__ASSETS__js/js_z.js"></script>
<link rel="stylesheet" type="text/css" href="__ASSETS__css/thems.css">

</head>

<body>
<div class="t_bg">
    <div class="top">
        <span class="tel">13655398875</span>
        <span class="mail"><a href="mailto:695847482@qq.com">695847482@qq.com</a></span>
        <div class="top_r">
            <a href=""><img src="__ASSETS__images/icon3.jpg" alt=""/></a>
            <a href=""><img src="__ASSETS__images/icon4.jpg" alt=""/></a>
            <a href=""><img src="__ASSETS__images/icon5.jpg" alt=""/></a>
        </div>
    </div>
</div>
<div class="header">
    <div class="head clearfix">
        <div class="logo"><a href="index.html"><img src="__ASSETS__images/logo.png" alt=""/></a></div>
        <ul class="nav clearfix">
            <li <li {if $controller=='Index'}class="now"{/if}>
                <a href="{:url('index/index')}">
                    <p>首页</p>
                    Home
                </a>
            </li>
            <li {if $controller=='About'}class="now"{/if}>
                <a href="about_a.html">
                    <p>关于我们</p>
                    About
                </a>
            </li>
            <li>
                <a href="product.html">
                    <p>产品中心</p>
                    Products
                </a>
                <div class="er_bg">
                    <ul class="er clearfix">
                        <li>
                            <b><a href="">免烧砖机系列</a></b>
                            <p><a href="">QT8-15B砌块成型机</a></p>
                            <p><a href="">QT4-15C砌块成型机</a></p>
                            <p><a href="">QT4-15B砌块成型机</a></p>
                            <p><a href="">QT4-15D砌块成型机</a></p>  
                        </li>
                        <li>
                            <b><a href="">混凝土砌块设备</a></b>
                            <p><a href="">小型机械生产线</a></p>
                            <p><a href="">全自动液压生产线</a></p>
                            <p><a href="">半自动液压生产线</a></p>
                        </li>
                        <li>
                            <b><a href="">搅拌站系列</a></b>
                            <p><a href="">JS2000搅拌机</a></p>
                            <p><a href="">JS3000搅拌机</a></p>
                            <p><a href="">JS1500搅拌机</a></p>
                            <p><a href="">JS500搅拌机</a></p>
                        </li>
                        <li>
                            <b><a href="">砖机配套设备</a></b>
                            <p><a href="">砖机托板</a></p>
                            <p><a href="">PLC控制器</a></p>
                            <p><a href="">输送带</a></p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="service.html">
                    <p>服务支持</p>
                    Service
                </a>
            </li>
            <li>
                <a href="news.html">
                    <p>新闻中心</p>
                    News
                </a>
            </li>
            <li {if $controller=='Shop'}class="now"{/if}>
                <a href="{:url('shop/index')}">
                    <p>在线商店</p>
                    Shop
                </a>
            </li>
            <li {if $controller=='Contact'}class="now"{/if}>
                <a href="{:url('contact/index')}">
                    <p>联系我们</p>
                    Contact Us
                </a>
            </li>
        </ul>
    </div>
</div>
{__CONTENT__}
<div class="f_nbg">
    <ul class="f_nav clearfix">
        <li>
            <b><a href="">产品中心</a></b>
            <p><a href="">标清摄像机</a></p>
            <p><a href="">百万高清摄像机</a></p>
            <p><a href="">室内摄像机</a></p>
            <p><a href="">户外摄像机</a></p>
        </li>
        <li>
            <b><a href="">服务支持</a></b>
            <p><a href="">在线光盘</a></p>
            <p><a href="">售后服务</a></p>
            <p><a href="">支持与帮助</a></p>
        </li>
        <li>
            <b><a href="">关于世邦</a></b>
            <p><a href="">公司介绍</a></p>
            <p><a href="">资质证书</a></p>
            <p><a href="">联系我们</a></p>
            <p><a href="">人才招聘</a></p>
        </li>
        <li>
            <b><a href="">关注我们</a></b>
            <p><a href="">新浪微博</a></p>
            <p><a href="">微信</a></p>
            <p><a href="">论坛</a></p>
        </li>
        <li>
            <b><a href="">新闻中心</a></b>
            <p><a href="">公司新闻</a></p>
            <p><a href="">行业新闻</a></p>
            <p><a href="">活动资讯</a></p>
        </li>
        <li class="noline">
            <b><a href="">在线商店</a></b>
            <p><a href="">天猫商城</a></p>
            <p><a href="">诚信通</a></p>
        </li>
        <li class="code">
            <img src="__ASSETS__upload/code.jpg" alt=""/>
            <p>微信号：shibang</p>
        </li>
    </ul>
</div>
<div class="bq_bg">
    <div class="bq">
        <span>版权所有 &copy; 2017-2018 临沂市沂南天运机械有限公司 鲁ICP备1234678号</span>
        <a href=""><img src="__ASSETS__images/icon18.jpg" alt=""/></a>
        <a href=""><img src="__ASSETS__images/icon19.jpg" alt=""/></a>
    </div>
</div>
</body>
</html>
