{layout name="layout"}
<div class="banner banners" ><img src="__ASSETS__upload/banner_a.jpg" alt=""/></div>
<div class="bg_c">
	<div class="scd">
    	<div class="scd_t">
        	<span><a href="about_a.html">公司介绍</a></span>
            <span><a href="about_b.html">资质证书</a></span>
            <span class="now"><a href="contact.html">联系我们</a></span>
            <span><a href="about_d.html">人才招聘</a></span>
        </div>
        <div class="scd_m">
        	<div class="contact clearfix">
            	<div class="ct_l">
                	<b>山东省沂南县天运机械制造厂</b>
                    <p>网站：http://www.tianyunzhuanji.com</p>
                    <p>地址：山东省沂南县大庄经济开发区</p>
                    <p>邮编：276305</p>
                    <div class="space_hx">&nbsp;</div><br/>
                    <b>购买咨询</b>
                    <p>联系人：黄先生</p>
                    <p>联系电话：+86 0539-3552566</p>
                    <p>联系电话：13655398875</p>
                    <p>QQ：<a href="">2532238600</a></p>
                    <div class="space_hx">&nbsp;</div><br/>
                    <b>客服服务</b>
                    <p>联系人：黄先生</p>
                    <p>联系电话：13468185851</p>
                    <p>QQ：<a href="">2532238600</a></p>
                </div>
                <div class="ct_r">
                	<img src="__ASSETS__upload/map.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg_a">&nbsp;</div>